@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    /*background-color: #0d1117;*/
    background: url(https://png.pngtree.com/background/20230827/original/pngtree-neon-blue-wave-hexagonal-frame-technology-background-with-digital-structure-3d-picture-image_4840646.jpg)no-repeat;
    background-size: cover;
    background-position: center;

    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.container{
    background-color: #161b22;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.1);

    color: #ffffff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

.container p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
    color: #ffffff;
}

.container span{
    font-size: 12px;
    color: #ffffff;
}

.container a{
    color: #ffffff;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.container button{
    background-color: #0055ff;
    color: #ffffff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.container button.hidden, .toggle-container button.back{
    background-color: transparent;
    border-color: #ffffff;
    color: #ffffff;
}

.toggle-container button.back {
    display: none;
    pointer-events: none;
}

.container form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.container input {
    background-color: #21262d;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
    color: #ffffff;
}

.container.active .sign-in {
    opacity: 0;
    pointer-events: none;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    opacity: 0;
    transition: all 0.6s ease-in-out;
}

.googleSignInContainer {
    text-align: center;
    margin: 10px 0;
}
  
.googleSignInButton {
    background-color: rgba(255, 255, 255, 0.2) !important;
    color: white;
    border: none;
    font-family: sans-serif;
    padding: 12px 12px !important;
    font-size: 12px;
    font-weight: bold;
    border-radius: 20px !important;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 6px;
}
  
.googleSignInButton:hover {
    background-color: rgba(53, 122, 232, 0.2) !important;
}
  
.googleSignInButton:focus {
    outline: none;
}
  
.googleLogo {
    width: 20px;  /* Adjust size */
    height: 20px;
}

.sign-in {
    left: 0;
    width: 50%;
    opacity: 1;
    z-index: 5;
    transform: translateX(0%);
    transition: transform 0.6s ease-out, opacity 0.3s ease-out 0.3s;
    pointer-events: all;
}

.container.active .sign-in {
    transform: translateX(100%);
    opacity: 0;
    z-index: 1;
    transition: transform 0.6s ease-out, opacity 0.3s ease-out;
}

.sign-up {
    left: 0;
    width: 50%;
    opacity: 0;
    pointer-events: none;
    z-index: 5;
    transform: translateX(0%);
    transition: transform 0.6s ease-out, opacity 0.3s ease-out;
}

.container.active .sign-up {
    transform: translateX(100%);
    opacity: 1;
    pointer-events: all;
    transition: transform 0.6s ease-out, opacity 0.3s ease-out 0.3s;
}

.container.active-forgot .sign-up {
    opacity: 0 !important;
    pointer-events: none !important;
}

@keyframes move {
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%, 100%{
        opacity: 1;
        z-index: 5;
    }
}

.toggle-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 1000;
}

.container.active .toggle-container {
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}

.toggle {
    background-color: #0055ff;
    height: 100%;
    background: linear-gradient(288deg, #0055ff, #043873);
    color: #ffffff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.container.active .toggle {
    transform: translateX(50%);
}

.toggle-panel {
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-left {
    transform: translateX(-200%);
}

.container.active .toggle-left {
    transform: translateX(0);
}

.toggle-right {
    right: 0;
    transform: translateX(0);
}

.container.active .toggle-right {
    transform: translateX(200%);
}

.forgot-password {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
    transform: translateX(0%);
    transition: transform 0.6s ease-out, opacity 0.3s ease-out;
    pointer-events: none;
}

.container.active.active-forgot .form-container, .container.active-otp-reset .form-container, .container.active-otp-register .form-container {
    opacity: 0;
    pointer-events: none;
}

.container.active-forgot .forgot-password {
    transform: translateX(100%) !important;
    opacity: 1 !important;
    pointer-events: all !important;
    transition: transform 0.6s ease-out, opacity 0.3s ease-out 0.3s;
}

.container.active-otp-reset .otp-reset, .container.active-otp-register .otp-register {
    pointer-events: all;
    opacity: 1;
}

/* Registration OTP */
.otp-register {
    right: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container.active-otp-register .otp-register {
    transform: translateX(-100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

/* Reset Password OTP */
.otp-reset {
    right: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container.active-otp-reset .otp-reset {
    transform: translateX(-100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

.reset-password {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container.active-reset-password .reset-password {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

.container.active-onetime-password .reset-password {
    transform: translateX(-100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

.container.active-otp-register .back, .container.active-otp-reset .back {
    display: block;
    pointer-events: all;
}

.container.active-otp-register .toggle-container .hidden, .container.active-otp-reset .toggle-container .hidden {
    display: none;
    pointer-events: none;
}

.g_id_signin {
    margin: 20px 0;
}

#load {
    z-index: 99;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    pointer-events: none;
    justify-content: center;
    align-items: center;
}

.spinner-1 {
    width: 70px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid;
    border-color: #fff #0000;
    animation: s1 1s infinite;
}
@keyframes s1 {to{transform: rotate(.5turn)}}